<a [routerLink]="['../comentario-nuevo']" class="btn btn-primary">Comentario nuevo</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Familia</th>
            <th>Autor</th>
            <th>Titulo</th>
        </tr>
    </thead>
  <tbody>
    <tr *ngFor="let comentario of comentarios">
      <td><a [routerLink]="['../familia-detalle',comentario.familia[0].selfId]">{{comentario.familia[0].nombre}}</a></td>
      <td><a [routerLink]="['../persona-detalle',comentario.persona[0].selfId]">{{comentario.persona[0].nombre}}</a></td>
      <td><a [routerLink]="['../comentario-detalle',comentario.selfId]">{{comentario.titulo}}</a></td>
    </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>Familia</th>
          <th>Autor</th>
          <th>Titulo</th>
      </tr>
  </tfoot>
</table>




