<div class="row">
  <div class="col-8">
  <p *ngIf="hayMensaje" class="alert alert-success">Comentario creado correctamente</p>
  <form novalidate [formGroup]="formulario" (ngSubmit)="sumitar()">
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <label for="nombre"> Titulo:</label>
        <input type="text" formControlName="titulo" class="form-control" name="titulo" placeholder="titulo del comentario">
        <small *ngIf="formulario.controls.titulo.errors?.required" class="text-danger">El campos es requerido</small>
        <small *ngIf="formulario.controls.titulo.errors?.minlength" class="text-danger">El nombre debe tener mas de 6
          caracteres</small>
        <small *ngIf="formulario.controls.titulo.errors?.maxlength" class="text-danger">El nombre debe tener menos de
          200 caracteres</small>
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group">

        <input disabled type="text" formControlName="nombre" class="form-control" name="nombre" placeholder="Usuario">
      </div>

      <div class="form-row justify-content-md-center">
        <div class="form-group">

          <select  id="familySelector" formControlName="familia" [(ngModel)]='persona.familyId'>
            <option disabled *ngFor="let familia of familias" value="{{familia.selfId}}">{{familia.nombre}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <div class="form-group">
          <label for="texto">Comentario</label><br>
          <textarea name="texto" formControlName="texto" placeholder="Deja tu comentario" minlength="5" maxlength="500"
            cols="40"></textarea>
            <small *ngIf="formulario.controls.texto.errors?.required" class="text-danger">El campos es requerido</small>
            <small *ngIf="formulario.controls.texto.errors?.minlength" class="text-danger">El nombre debe tener mas de 1
              caracteres</small>
            <small *ngIf="formulario.controls.texto.errors?.maxlength" class="text-danger">El nombre debe tener menos de
              200 caracteres</small>
        </div>
      </div>


    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <input type="submit" class="btn btn-info" value="crear">
      </div>

    </div>


  </form>
</div>
<div class="col-4">
    <h3>Comentarios</h3>
    <ul>
      <li *ngFor="let comentario of comentarios"><a [routerLink]="['../comentario-detalle', comentario.selfId ]">{{comentario.titulo}}</a></li>
    </ul>
    <h3>Comentarios propios </h3>
    <ul>
        <li *ngFor="let c of comentariosPropios"><a [routerLink]="['../comentario-detalle', c.selfId ]">{{c.titulo}}</a></li>
    </ul>
</div>
</div>