<div class="row">
  <div class="col-8">
  <p *ngIf="hayMensaje" class="alert alert-success">Comentario creado correctamente</p>
  <form novalidate [formGroup]="formulario" (ngSubmit)="sumitar()">
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <label for="nombre"> Titulo:</label>
        <input type="text" formControlName="titulo" class="form-control" name="titulo" placeholder="titulo del comentario">
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group">

        <input disabled type="text" formControlName="nombre" class="form-control" name="nombre" placeholder="Usuario">
      </div>

      <div class="form-row justify-content-md-center">
        <div class="form-group">

          <select  id="familySelector" formControlName="familia" [(ngModel)]='persona.familyId'>
            <option disabled *ngFor="let familia of familias" value="{{familia.selfId}}">{{familia.nombre}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <div class="form-group">
          <label for="texto">Comentario</label><br>
          <textarea name="texto" formControlName="texto" placeholder="Deja tu comentario" minlength="5" maxlength="500"
            cols="40"></textarea>
        </div>
      </div>


    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <input type="submit" class="btn btn-info" value="crear">
      </div>

    </div>


  </form>
</div>
<div class="col-4">
    <h3>Comentarios</h3>
    <ul>
      <li *ngFor="let comentario of comentarios"><a [routerLink]="['../comentario-detalle', comentario.selfId ]">{{comentario.titulo}}</a></li>
    </ul>
    <h3>Comentarios propios </h3>
    <ul>
        <li *ngFor="let c of comentariosPropios">{{c.titulo}}</li>
    </ul>
</div>
</div>