<div class="container">
<form novalidate >
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <label for="nombre"> Nombre:</label>
        <input type="text"  class="form-control" name="nombre" placeholder="Usuario">
      </div>

      <div class="form-group">
          <label for="direccion"> Familia:</label><br>
         <select>
           <option>Familia1</option>
         </select>
      </div>     
    </div>
   
    <div class="form-row justify-content-md-center">
      <div class="form-group">
        <div class="form-group">
          <label for="texto">Comentario</label><br>
          <textarea name="texto" placeholder="Deja tu comentario" minlength="5" maxlength="500" cols="70"></textarea>
        </div>    
      </div>


    </div>
    <div class="form-row justify-content-md-center">
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="crear" >
        </div>

    </div>


  </form>
</div>