<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="card card-container">

        <p id="profile-name" class="profile-name-card"></p>
        <form [formGroup]="formulario" class="form-signin" (ngSubmit)="login()">
            <p>Con la carga de datos</p>
            <ul>
                <li>admin@gmail.com : admin (rol admin)</li>
                <li>raul@gmail.com : admin (rol usuario)</li>
            </ul>

            <p *ngIf="hayMensaje" class="alert alert-danger">{{mensaje}}</p>
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="correo" formControlName="correo" class="form-control" name="correo" placeholder="Direccion de correo"
                required autofocus>
            <input type="password" id="password" formControlName="password" name="password" class="form-control"
                placeholder="contraseña" required>
            <div id="remember" class="checkbox">
                <!-- <label>
                    <input type="checkbox" value="remember-me"> recuerdame
                </label> -->
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Identificate</button>
        </form><!-- /form -->
        <!-- <a href="#" class="forgot-password">
            Olvidastes la contraseña?
        </a> -->
    </div><!-- /card-container -->
</div><!-- /container -->