<app-backoffice-navbar></app-backoffice-navbar>
<i [routerLink]="['../backoffice-comment-detail',0]" class="far fa-plus-square fa-3x"></i>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Texto</th>
            <th>Fecha</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comentario of comentarios">
            <td>{{comentario.titulo}}</td>
            <td>{{comentario.persona[0].nombre}}</td>
            <td>{{comentario.texto}}</td>
            <td>{{comentario.fecha}}</td>
            <td>
                <i class="fas fa-trash-alt fa-3x text-danger" (click)="elimniar(comentario.selfId)" ></i> 
                <i class="fas fa-edit fa-3x" [routerLink]="['../backoffice-comment-detail',comentario.selfId]"
                    ></i>
                </td>
            
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Texto</th>
                <th>Fecha</th>
                <th>Acciones</th>
        </tr>
    </tfoot>
</table>


